$redButton: #F52B38
$redButtonBackground: #FFDAD5
$surfaceBackground: #FFF8F7

$borderRadius: 16px

$breakpoint-small: 600px
$breakpoint-medium: 900px
$breakpoint-large: 1200px

body
  margin: 0
  padding: auto
  font-family: Roboto Condensed

a
  width: 100%
  font-weight: 600
  margin: 10px 3px
  color: black

p
  font-weight: 622
  width: 100%

.container
  display: flex
  justify-content: center

.midContainer
  width: 1500px
  max-width: 90%
  display: flex
  align-items: center
  gap: 4vw

.leftSide
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  width: 800px
  max-width: 100%

form
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 100%
  max-width: 100%

.btn
  width: 100%
  background-color: $redButton
  border-color: $redButton
  color: white
  border-style: solid
  padding: 15px 20px
  font-family: jomhuria
  font-size: 25px
  border-radius: 5px
  transition: .3s

.btn:hover
  background-color: white
  color: $redButton
  border-color: $redButton
  border-width: 2px

input
  width: 95%
  max-width: 800px
  border-radius: 5px
  border-width: 1px
  padding: 15px 20px
  text-indent: 20px

.inputDiv
  width: 100%

.inputIcon
  position: absolute
  transform: translateY(90%) translateX(50%)

.createAcc
  width: 100%
  display: flex
  justify-content: space-between


.header
  display: flex
  justify-content: space-between

  padding-block: 20px
  padding-inline: 14px


.header-btn-group
  display: flex
  position: relative
  gap: 20px

.btn-header
  background:$redButtonBackground
  display: flex
  gap:10px
  justify-content: space-between
  align-items: center
  border-radius: $borderRadius
  font-family: jomhuria
  font-size: 30px
  padding: 10px
  border: none
  cursor: pointer

.btn-header-active
  flex-direction:column

.btn-header-lg
  gap: 40px


.btn-header-lg img
  padding-right:16px

.header-links
  display: flex
  flex-direction: column
  position: absolute
  left:-100px
  top:50px

.header-links a
  background: $surfaceBackground
  margin:0
  padding-block: 28px
  padding-left: 15px
  width: 376px

.header-links a:hover
  background:$redButtonBackground

.activeLink
  transform: rotate(90deg)

//Media queries

@media (max-width: $breakpoint-large)
  .midContainer
    flex-direction: column
    justify-content: center
    width: 80%
